* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; 
    background: linear-gradient(to bottom, rgb(227, 213, 255), rgb(255, 231, 231));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;          
    justify-content: center; 
    align-items: center; 
}
section{
    margin:auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    background-color: #ffffff;
}
 .thefunction{
    line-height: 1.6;
    text-align: center;
    margin-bottom: 30px;
    font-family:cursive;
    color: #605e5f;
}
 
.formContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}
.text {
    font-size: 0.75rem;
    color: #605e5f;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 150px 0 0;
    padding: 1px 4px;
    background: rgb(227, 213, 255);
    border-radius:6px;
    width: fit-content;
  }
 
.inputcontainer {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(227, 213, 255), rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    margin: 5px;
}

input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
}

#result {
    width: 200px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgb(255, 255, 255); 
    border-radius: 30px; 
    padding-left: 15px; 
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px; 
}

.button  button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 10px;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(227, 213, 255), rgb(255, 231, 231));
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}